/*Generelt*/
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 48px;
}

h2 {
  font-family: "Shippori Mincho", serif;
  font-size: 32px;
}

h3 {
  font-family: "Shippori Mincho", serif;
  font-size: 30px;
  text-align: center;
  color: black;
}

p {
  font-family: "Montaga", serif;
  font-style: normal;
  font-size: 22px;
}
@media (max-width: 700px) {
  p {
    font-family: "Montaga", serif;
    font-style: normal;
    font-size: 16px;
  }
}
a {
  color: black;
  text-decoration: none;
}

/*==========================================================NAVIGASJON==============================================================*/
nav {
  background-color: #e9e3d6;
  width: auto;
  padding: 10px 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100px;
}

@media (max-width: 700px) {
  nav {
    background-color: #e9e3d6;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 60px;
  }
}
.cart {
  height: 30px;
}
.profile {
  height: 32px;
}
.burgermenu {
  height: 30px;
}
.profile:hover {
  filter: drop-shadow(1px 1px 1px);
}
.cart:hover {
  filter: drop-shadow(1px 1px 1px);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  height: 120px;
}

/*For å få til overlayet er det brukt en guide fra https://www.w3schools.com/howto/howto_css_modals.asp? som utgangspunkt*/
.overlay-content {
  position: fixed;
  border-radius: 50px;
  top: 0;
  left: -50px;
  height: 100%;
  z-index: 1000;
  background-color: #89947b;
  width: 400px;
  display: none;
}
#overlay-btn {
  border: none;
  background-color: transparent;
}
#overlay-btn:hover {
  filter: drop-shadow(1px 1px 1px);
}

.overlay-content-buttons {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  gap: 20px;
}
.overlay-home-btn,
.overlay-menu-btn,
.overlay-order-btn {
  justify-content: center;
  font-family: "Shippori Mincho", serif;
  border-radius: 8px;
  background-color: #6c7a5b;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  font-style: bold;
  width: 125px;
  height: 66px;
}
.overlay-home-btn:hover,
.overlay-menu-btn:hover,
.overlay-order-btn:hover {
  filter: drop-shadow(2px 2px 2px);
}
/*==========================================================HOVEDSIDE==============================================================*/
.hero {
  position: relative;
}

.hero-txt-h1 {
  margin-top: 200px;
  margin-left: 20px;
  text-align: left;
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: white;
}
@media (max-width: 700px) {
  .hero-txt-h1 {
    margin-top: 120px;
    margin-left: 20px;
    text-align: left;
    position: absolute;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: white;
  }
}

.hero-txt-h3 {
  margin-top: 150px;
  margin-left: 20px;
  text-align: left;
  position: absolute;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
}
@media (max-width: 700px) {
  .hero-txt-h3 {
    margin-top: 100px;
    margin-left: 20px;
    text-align: left;
    position: absolute;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: white;
  }
}

.hero-image {
  width: 100%;
  height: 564px;
  object-fit: cover;
  object-position: center 40%;
}
@media (max-width: 700px) {
  .hero-image {
    width: 100%;
    height: 299px;
    object-fit: cover;
    object-position: center 40%;
  }
}
.CTA {
  font-family: "Shippori Mincho", serif;
  margin-top: 300px;
  margin-left: 20px;
  padding: 10px;
  width: 280px;
  text-align: center;
  position: absolute;
  font-style: bold;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  background-color: #6b4f3d;
}
@media (max-width: 700px) {
  .CTA {
    font-family: "Shippori Mincho", serif;
    margin-top: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 175px;
    text-align: center;
    position: absolute;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    background-color: #6b4f3d;
  }
}

.CTA:hover {
  filter: drop-shadow(2px 2px 5px #6b4f3d);
}
/*==========================================================EASTER EGG==============================================================*/
.easteregg-button {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 10em;
  width: 10em;
  display: block;
  background-color: transparent;
  border: none;
}

@media (max-width: 700px) {
  .easteregg-button {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 1em;
    width: 5em;
    display: block;
    background-color: transparent;
    border: none;
  }
}

.easteregg-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
@media (max-width: 700px) {
  .easteregg-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}
.iframe-btn {
  font-family: "Shippori Mincho", serif;
  padding: 10px;
  width: 560px;
  height: 40px;
  position: absolute;
  left: 0%;
  bottom: 0%;
  font-style: bold;
  font-size: 16px;
  color: white;
  background-color: #6b4f3d;
}

.description {
  background-color: #f5f2ec;
  height: 150px;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.description p {
  max-width: 800px;
  font-family: "Montaga", serif;
  font-style: normal;
  font-size: 22px;
}
@media (max-width: 600px) {
  .description p {
    max-width: 300px;
    font-family: "Montaga", serif;
    font-style: normal;
    font-size: 16px;
  }
}
/*==========================================================REVIEWS==============================================================*/
.customer-review {
  background-color: #e9e3d6;
  padding: 2em;
  height: 300px;
}
.carousel {
  position: relative;

  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
}
@media (max-width: 600px) {
  .carousel {
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5%;
    margin-top: 10px;
  }
}
#carousel-btn-arrowright {
  font-size: 7em;
  opacity: 5%;
  border: none;
  background-color: transparent;
  transform: translate(0%, -20%);
}
@media (max-width: 600px) {
  #carousel-btn-arrowright {
    font-size: 4em;
    opacity: 10%;
    border: none;
    background-color: transparent;
    transform: translate(0%, -20%);
  }
}
#carousel-btn-arrowright:hover {
  filter: opacity(60%);
}

#carousel-btn-arrowleft {
  font-size: 7em;
  opacity: 5%;
  border: none;
  background-color: transparent;
  transform: translate(0%, -20%);
}
@media (max-width: 600px) {
  #carousel-btn-arrowleft {
    font-size: 4em;
    opacity: 10%;
    border: none;
    background-color: transparent;
    transform: translate(0%, -20%);
  }
}
#carousel-btn-arrowleft:hover {
  filter: opacity(60%);
}
.carousel-item {
  height: 100%;
  margin: 0 auto;
  width: 400px;
  display: none;
}
@media (max-width: 600px) {
  .carousel-item {
    height: 100%;
    margin: 0 auto;
    width: 250px;
    display: none;
  }
}

/*==========================================================CLUBMEMBERSHIP==============================================================*/
.clubmembership {
  height: 300px;
  background-image: url("/Assets/kaffebønner-large.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 600px) {
  .clubmembership {
    height: 206px;
    background-image: url("/Assets/kaffebønner-large.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.clubmembership-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

/*Tranform:translate har jeg lært om  her: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/translate*/
.clubmembership-button {
  position: absolute;
  transform: translate(10%);
  color: white;
  font-family: Montaga;
  height: fit-content;
  font-size: 30px;
  border-radius: 8px;
  background: #6c7a5b;
  padding: 5px;
}
@media (max-width: 600px) {
  .clubmembership-button {
    position: absolute;
    color: white;
    font-family: Montaga;
    height: fit-content;
    font-size: 16px;
    border-radius: 8px;
    background: #6c7a5b;
  }
}
.clubmembership-button:hover {
  filter: drop-shadow(2px 2px 5px #6c7a5b);
}

label {
  font-family: "Montaga", serif;
  font-style: normal;
  font-size: 20px;
  color: black;
}
@media (max-width: 600px) {
  label {
    font-family: "Montaga", serif;
    font-style: normal;
    font-size: 16px;
    color: black;
  }
}
input {
  height: 48px;
  width: 366px;
}
@media (max-width: 600px) {
  input {
    height: 32px;
    width: 250px;
  }
}
/*==========================================================SOCIAL MEDIA==============================================================*/
.social-media {
  background-color: #e9e3d6;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .social-media {
    background-color: #e9e3d6;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
@media (max-width: 600px) {
  .social-media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }
}
@media (max-width: 600px) {
  .Instagram {
    height: 32px;
  }
}
@media (max-width: 600px) {
  .Facebook {
    height: 32px;
  }
}
/*==========================================================LINK-PAGE==============================================================*/
.linkpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 40px;
}
/*==========================================================FOOTER==============================================================*/
footer {
  background-color: #f5f2ec;
  padding: 40px;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  footer {
    background-color: #f5f2ec;
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
}
.footer-align {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-lists {
  display: flex;
  gap: 20px;
}

footer li {
  list-style: none;
  font-family: "Montaga", serif;
  font-size: 20px;
}
@media (max-width: 600px) {
  footer li {
    list-style: none;
    font-family: "Montaga", serif;
    font-size: 16px;
  }
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
